**LIST METHODS**<br>
1. append()
2. clear()
3. copy()
4. count()
5. extend()
6. index()
7. insert()
8. pop()
9. remove()
10. reverse()
11. sort()

In [1]:
list1=[1,2,3,4,5,6]
list1.pop()

6

In [2]:
list1

[1, 2, 3, 4, 5]

In [3]:
list1.pop(2)
print(list1)

[1, 2, 4, 5]

In [4]:
list1=[1,5,4,8,2,7,9,4]
del list1[5]
print(list1)

[1, 5, 4, 8, 2, 9, 4]

`pop()` displays the deleted element. But `del` just performs the operation.

In [5]:
list1=[1,2,3,4,5,6,7,8,9]
del list1[2:5]
print("New list after slicing:",list1)

New list after slicing: [1, 2, 6, 7, 8, 9]

`remove()` doesn't take index positions as arguments like other methods. We have to pass on the element we want to remove itself.

In [6]:
print("Original List:",list1)
list1.remove(8)
print("New List:",list1)

Original List: [1, 2, 6, 7, 8, 9]
New List: [1, 2, 6, 7, 9]

**BUILT-IN FUNCTIONS**<br>
1. len()
2. sum()
3. max()
4. min()

In [7]:
list1=[1,2,3,4,5,3,2,7,4,9]
print("Length=",len(list1))

Length= 10

In [8]:
print(max(list1))
print(min(list1))

9
1

In [9]:
print(sum(list1))

40

In [10]:
print(list1.count(2))

2

**Display the sum of elements in a list without using the built-in function (sum())**

In [11]:
list1=[1,2,3,4,5,3,2,7,4,9]
sum_lst=0
for item in list1:
    sum_lst+=item
print("Sum=",sum_lst)

Sum= 40

In [12]:
str1="Nimbus"
print(list(str1))

['N', 'i', 'm', 'b', 'u', 's']

In [13]:
str1="My name is Nimbus"
print(str1.split()) #for split(), by default, the delimiter is whitespace.

['My', 'name', 'is', 'Nimbus']

In [14]:
str1="My-name-is-Nimbus"
print(str1.split('-'))

['My', 'name', 'is', 'Nimbus']

In [15]:
str1="My-na-me-i-s-Nimbus"
print(str1.split('-'))

['My', 'na', 'me', 'i', 's', 'Nimbus']

In [16]:
str1="My name is Nimbus"
print(str1)

My name is Nimbus

In [17]:
print(str1.split())

['My', 'name', 'is', 'Nimbus']

In [18]:
delimiter="-"
delimiter.join(str1)

'M-y- -n-a-m-e- -i-s- -N-i-m-b-u-s'

In [19]:
delimiter=" "
delimiter.join(str1)

'M y   n a m e   i s   N i m b u s'

**VARIABLES AND OBJECTS**

In [20]:
str1="Nimbus"
str2="Nimbus"
str1 is str2

True

In [21]:
list1=[1,2,3]
list2=[1,2,3]
list1 is list2

False

Here, lists are idetical. But not equivalent.

**ALIASING**<br>
Aliased objects are mutable.

In [22]:
list1=[1,2,3]
list2=list1
print(list1)
print(list2)
list1[0]='a'
list2[2]='e'
print(list1)
print(list2)

[1, 2, 3]
[1, 2, 3]
['a', 2, 'e']
['a', 2, 'e']

**LIST ARGUMENTS**

In [23]:
def delete_element(list1):
    del list1[2]
letter=[1,2,3,4,5]
delete_element(letter)
print(letter)

[1, 2, 4, 5]