**TUPLES**<br>
A tuple is a collection of objects which ordered and `immutable`. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

In [1]:
t1=(1,2,3,4)
print(t1)
print(type(t1))

(1, 2, 3, 4)
<class 'tuple'>

In [2]:
t2=1,2,3,4,5,6
print(type(t2))

<class 'tuple'>

In [3]:
t1

(1, 2, 3, 4)

In [4]:
print(list(t1))

[1, 2, 3, 4]

In [5]:
print(set(t1))

{1, 2, 3, 4}

In [6]:
t1=() #creating an empty tuple
print(t1,type(t1))

() <class 'tuple'>

Tuples are `comma seperated values`. If we don't pass any comma into the parantheses, it will turn out to be an integer. If you want to create a single value tuple, pass in one value followed by a comma.

In [7]:
t1=(1)
print(t1,type(t1))

1 <class 'int'>

In [8]:
t1=(1,)
print(t1,type(t1))

(1,) <class 'tuple'>

Tuples can accept repeated values like lists and unlike sets.

In [9]:
t1=(1,4,4,2,7,2,3,9,2,7,4)
print(t1,type(t1))

(1, 4, 4, 2, 7, 2, 3, 9, 2, 7, 4) <class 'tuple'>

In [10]:
s1={1,4,4,2,7,2,3,9,2,7,4}
print(s1,type(s1))

{1, 2, 3, 4, 7, 9} <class 'set'>

You can pass a squence of elements to the constructor tuple().

In [11]:
t1=tuple(("NIMBUS"))
print(t1)

('N', 'I', 'M', 'B', 'U', 'S')

In [12]:
t1

('N', 'I', 'M', 'B', 'U', 'S')

In [13]:
print("t1[0]=",t1[0])
print("t1[3]=",t1[3])
print("t1[8]=",t1[8]) #tuple index out of range

t1[0]= N
t1[3]= B

IndexError: tuple index out of range

In [14]:
print("The tuple is:",t1)
print("t1[0:3]:",t1[0:3])
print("Reverse of the given tuple is:",t1[::-1])

The tuple is: ('N', 'I', 'M', 'B', 'U', 'S')
t1[0:3]: ('N', 'I', 'M')
Reverse of the given tuple is: ('S', 'U', 'B', 'M', 'I', 'N')

You cannot change the elements of a tuple. An error will be thrown if you try to do so. But we can add another tuple to the existing tuple using the concatenation operator.

In [15]:
t1=(1,2,3,4,5)
t2=tuple("Nimbus")
print(t1)
t1=t1+t2
print(t1)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 'N', 'i', 'm', 'b', 'u', 's')

In [16]:
t1=(1,2,3)
t2=(78,54,1)
t1<t2

True

In [17]:
t1=tuple("GITAM")
t2=tuple("gitam")
t1<t2

True

In [18]:
t1=tuple("GITAM")
t2=tuple("gitam")
t1>t2

False

In [19]:
x,y,z=1,4.5,"Nimbus"
print(x,y,z,type(x),type(y),type(z))

1 4.5 Nimbus <class 'int'> <class 'float'> <class 'str'>

**Program to swap two variables using pure Python.**

In [20]:
x=2
y=4
print("Before swapping x=",x,"y=",y)
x,y=y,x
print("After swapping, x=",x)
print("After swappping, y=",y)

Before swapping x= 2 y= 4
After swapping, x= 4
After swappping, y= 2

**Program to seperate username and domain name in an email address.**

In [21]:
email="nimbus5@gmail.com"
username,domain=email.split("@")
print("Username=",username)
print("Domain name=",domain)

Username= nimbus5
Domain name= gmail.com

**Program to find an element in a given tuple or not.**

In [22]:
t1=(1,2,3,4,5,6)
print(5 in t1)

True

In [23]:
print(9 in t1)

False

In [24]:
print(9 not in t1)

True

In [25]:
t1=(1,4,4,2,7,2,3,9,2,7,4)
print("Length=",len(t1))
print("Maximum=",max(t1))
print("Minimum=",min(t1))

Length= 11
Maximum= 9
Minimum= 1

In [26]:
t1=("Hello","Hi","Hey there!","Bonjour","Ciao","Hola")
print("Maximum=",max(t1))
print("Minimum=",min(t1))
print("Length=",len(t1))

Maximum= Hola
Minimum= Bonjour
Length= 6

We cannot perform min() and max() when the tuple contains different data types. We should only have homogeneous data types.

In [27]:
t1=(1,2,3,4,5)
print(t1)

(1, 2, 3, 4, 5)

In [28]:
del t1 #deletd the entire tuple

In [29]:
t1=(1,4,4,2,7,2,3,9,2,7,4)
print("1 has repeated",t1.count(1),"times")
print("4 has repeated",t1.count(4),"times")
print("7 has repeated",t1.count(7),"times")
print("Index of 2:",t1.index(2))

1 has repeated 1 times
4 has repeated 3 times
7 has repeated 2 times
Index of 2: 3

In [30]:
t1=("Hello","Hi","Hey there!","Bonjour","Ciao","Hola")
count=0
for element in t1:
    print("Index",count,"",element)
    count+=1

Index 0  Hello
Index 1  Hi
Index 2  Hey there!
Index 3  Bonjour
Index 4  Ciao
Index 5  Hola

In [31]:
t1=(1,2.3,("Nimbus",5))
print(t1[0])
print(t1[1])
print(t1[2][0])
print(t1[2][1])

1
2.3
Nimbus
5

In [32]:
t1=("N","I",9,"M","B","U","S")
print(t1)
print(t1[0:2]+t1[3:])

('N', 'I', 9, 'M', 'B', 'U', 'S')
('N', 'I', 'M', 'B', 'U', 'S')

In [33]:
list1=list(t1)
print(list1)
list1.remove(9)
print(tuple(list1))

['N', 'I', 9, 'M', 'B', 'U', 'S']
('N', 'I', 'M', 'B', 'U', 'S')