<a href="https://colab.research.google.com/github/srinijadharani/python-workshop-practice/blob/master/one_18_06_examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=20
b=40
print(a+b, a-b, a*b, a/b, a%b)

60 -20 800 0.5 20

In [ ]:
age = int(input("Enter your age "))
print("My age is ",age)

Enter your age 18
My age is  18

Write a python program to take input from the user and perform the subtraction operation.

In [ ]:
num1 = int(input("enter a number1:" ))
num2 = int(input("enter a number2:" ))
result= num1-num2
print("The result is: ",result)

enter a number1:12
enter a number2:34
The result is:  -22

Write a python program to read a floating point number from a user and display their product.

In [ ]:
num1 = float(input("enter a number1:" ))
num2 = float(input("enter a number2:" ))
result= num1*num2
print("The result is: ",result)

enter a number1:13.7
enter a number2:2.4
The result is:  32.879999999999995

Write a python program to take input from user, their name and age and display.

In [ ]:
age= int(input("Please enter your age: "))
name= input("Please enter your name: ")
print("Hello, ",name, "Your age is ",age)

Please enter your age: 18
Please enter your name: Srinija
Hello,  Srinija Your age is  18

Assignment Operator (=)

In [ ]:
num= 12
print(num)

12

We can assign values to multiple variables using a single assignment operator in a single line of code.

In [ ]:
a, b=1,4
print(a,b)

1 4

In [ ]:
age, name, fav_num= 18, "Srinija", 6.2
print("Hello, your name is ",name, ". Your age is ", age, ". And your lucky number is ", fav_num, ".")

Hello, your name is  Srinija . Your age is  18 . And your lucky number is  6.2 .

In [ ]:
type(age)

int

In [ ]:
type(name)

str

In [ ]:
type(fav_num)

float